<a href="https://colab.research.google.com/github/BeamlakTamirat/DS/blob/main/BeamlakTamirat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.** **What is the difference between a list, a dictionary, and a NumPy array? Give one example of each.** **bold text**

**List**: An ordered, mutable collection that can store elements of different data types. Lists use integer indices for element access and allow duplicate values.

In [3]:
# List example
my_list = [1, 'apple', True, 3.14]

**Dictionary:** An unordered collection of key-value pairs where each key must be unique. Dictionaries provide fast lookups by key and are mutable.

In [ ]:
# Dictionary example
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

**NumPy array:** A homogeneous, fixed-size multidimensional array optimized for numerical computations. NumPy arrays enable efficient mathematical operations and broadcasting across dimensions.

In [ ]:
# NumPy array example
import numpy as np
my_array = np.array([1, 2, 3, 4, 5])

**2. Given the list [10, 15, 20, 25, 30], write a function that returns the square of only even numbers.**

first i will create a function which filters out only the even numbers those divisible  by 2, and returns a new list containing the squares of those even numbers.

In [ ]:
def sqeven(numbers):
    return [num**2 for num in numbers if num % 2 == 0]

# Test with given list
result = sqeven([10, 15, 20, 25, 30])
print(result)  # Output: [100, 400, 900]

**3. What does the following code output, and why?**   x = [1, 2, 3]  , y = x ,
  y.append(4),     print(x)

In [ ]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

#The answer will be :
[1, 2, 3, 4]

The code outputs [1, 2, 3, 4] because in Python, variable assignment (y = x) creates a reference to the same object, not a copy. When we modify the list through y.append(4), we're changing the single list object that both variables point to. This behavior is called aliasing - both x and y are aliases referring to the identical list in memory.

**4. What does .shape and .describe() tell you about a pandas DataFrame? Show using an example.**

They provide different information about a pandas DataFrame:

***.shape***  :   returns a tuple representing the dimensions of the DataFrame (rows, columns).

***.describe()***   :  generates summary statistics of the DataFrame's numerical columns, including count, mean, standard deviation, minimum, quartiles, and maximum values.

We can see the following example:

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'age': [25, 30, 35, 40, 45],
    'salary': [50000, 60000, 75000, 90000, 100000],
    'experience': [1, 3, 5, 10, 15],
    'department': ['HR', 'IT', 'Finance', 'IT', 'Marketing']
})

# Get the shape
print("DataFrame shape:", df.shape)
# Output: DataFrame shape: (5, 4) - meaning 5 rows and 4 columns

# Get the summary statistics
print("\nDataFrame description:")
print(df.describe())
# Output: Summary statistics for numerical columns (age, salary, experience)
# showing count, mean, std, min, 25%, 50%, 75%, max for each



5. Load this CSV: airtravel.csv
Print the first 5 rows
What do you notice about the data?

There is air travel data for the years 1958, 1959, and 1960, broken down by month. The data appears to show passenger numbers for each month across these three years.

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('airtravel.csv')

# Print the first 5 rows
print(df.head(5))

In [ ]:
#the output looks:

#   Month  1958  1959  1960
#0   JAN   340   360   417
#1   FEB   318   342   391
#2   MAR   362   406   419
#3   APR   348   396   461
#4   MAY   363   420   472

From the data, I notice:

1-*It contains monthly air travel passenger numbers for three consecutive years (1958-1960)*

2-*There appears to be a general upward trend in passenger numbers year over year*

3-*There's seasonal variation, with summer months (especially July and August) showing higher passenger numbers than winter months*

4-*Each year shows higher numbers than the previous year for the same month, suggesting growth in air travel during this period*

6.Load the CSV from Q5 and find:
  The month with the highest total passengers
  The month with the lowest in 1958

In [ ]:
#There is data in columns for Month, 1958, 1959, and 1960
Month	1958	1959	1960
JAN	  340	  360 	417
FEB	  318	  342	  391
MAR	  362	  406	  419
APR	  348	  396	  461
MAY	  363 	420	  472
JUN	  435	  472	  535
JUL	  491	  548	  622
AUG	  505	  559	  606
SEP	  404	  463	  508
OCT	  359	  407	  461
NOV	  310	  362	  390
DEC	  337	  405	  432

In [ ]:

#First load data in the csv file
import pandas as pd

# Load the CSV file
df = pd.read_csv("airtravel.csv", header=0, index_col=False)

**A-Month with the Highest Total Passengers (Summing Across Years)**

1-Compute a total for each row (month) by summing 1958, 1959, and 1960 columns:

In [ ]:
df['Total'] = df['1958'] + df['1959'] + df['1960']

2-Identify which month has the highest total:

In [ ]:
max_idx = df['Total'].idxmax()  # gets the index of the row with the highest total
month_with_highest_total = df.loc[max_idx, 'Month']
max_total_value = df.loc[max_idx, 'Total']



If you examine the raw data, the highest total is August with 505 + 559 + 606 =** 1670.**

**B-Month with the Lowest in 1958**
Locate the row with the minimum 1958 value:

In [ ]:
min1958_idx = df['1958'].idxmin()
month_with_lowest_1958 = df.loc[min1958_idx, 'Month']
min_1958_value = df.loc[min1958_idx, '1958']

**Finally, the Answers are** :

A-Month with the highest total passengers: **AUG**

B-Month with the lowest in 1958: **NOV**

7.  **What does the .groupby() function do in pandas? Show an example using dummy data.**


The groupby() function in pandas allows you to split your DataFrame into groups based on some criteria (one or more columns), apply a function (e.g., sum, mean, count) to each group, and then combine the results into a new DataFrame or Series. It follows the “split → apply → combine” paradigm.

Example with dummy data:

In [ ]:
import pandas as pd

# Create a small DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'A'],
    'Values': [10, 20, 5, 15, 10, 30],
    'OtherInfo': [1, 2, 3, 4, 5, 6]
}

df_dummy = pd.DataFrame(data)
print("Original DataFrame:")
print(df_dummy)

# Use groupby to sum Values per Category
grouped_df = df_dummy.groupby('Category')['Values'].sum()
print("\nSum of 'Values' for each 'Category':")
print(grouped_df)

8. Load the Titanic dataset from seaborn and:

  Count how many missing values are in each column

a steps to load the Titanic dataset from seaborn and count missing values in each column:

In [ ]:
import seaborn as sns
import pandas as pd

# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

# Count missing values in each column
missing_values = titanic.isnull().sum()

print("\nMissing values per column:")
print(missing_values)

9.  Use df["Age"].hist() to visualize the age distribution.What shape do you see?What might be the reason for the skew?

----------------------------------------------

To visualize the age distribution using df["Age"].hist(), you would typically observe a **HISTOGRAM.** The shape of the histogram can vary, but common patterns include:

    1-Normal Distribution: A bell-shaped curve, indicating most ages cluster around a central value.

    2-Right Skew (Positive Skew): A longer tail on the right side, meaning more younger individuals and fewer older individuals.

    3-Left Skew (Negative Skew): A longer tail on the left side, indicating more older individuals with fewer younger individuals.

**Reasons for Skew**

    **Right Skew:** This is common in populations where younger individuals are more numerous, such as in student populations or communities with high birth rates.

    **Left Skew:** This might occur in aging populations where older individuals are more prevalent, potentially due to higher life expectancy.

**Factors Influencing Skew**

    **Demographics: **Age distributions can reflect the demographics of a region or population.

    **Health Factors:** Access to healthcare and lifestyle can influence age distribution.

    **Socioeconomic Factors:** Economic opportunities may attract younger people, skewing the distribution right.

In [ ]:
#A short code snippet to generate the histogram and add labels for clarity:

import seaborn as sns
import matplotlib.pyplot as plt

# Load the Titanic dataset
df = sns.load_dataset("titanic")

# Plot the histogram for the 'Age' column
plt.figure(figsize=(8, 6))
plt.hist(df["age"].dropna(), bins=30, color='skyblue', edgecolor='black')
plt.title("Age Distribution of Titanic Passengers")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

-----------------------------------------------

10. What does it mean if a column has a high standard deviation?Create a list or column that has a low and a high std. dev, and compare.

A high standard deviation indicates that the data points in a column are spread out widely from the mean (average). This suggests significant variability, diversity, or potential outliers in the dataset. Conversely, a low standard deviation means the data points cluster closely around the mean, showing consistency.

->Examples:

**Low Standard Deviation**
Data: [4, 5, 5, 4, 5]

    Mean: 4.6

    Standard Deviation: ~0.55

    Explanation: Most values are close to the mean (4.6), showing minimal spread.

**High Standard Deviation**
Data: [1, 9, 2, 8, 0]

    Mean: 4.0

    Standard Deviation: ~4.18

    Explanation: Values range widely from 0 to 9, far from the mean (4.0).

In [ ]:
#High Standard Dev: Signals diverse data, potential outliers, or unpredictability (e.g., risky investments).

#Low Standard Dev: Indicates uniformity and reliability (e.g., consistent manufacturing processes).

11.**What are some real-world problems where missing data might affect results? Give 2 examples.**

Missing data can distort analysis, lead to biased conclusions, and reduce the reliability of models. Here are two critical examples:

1. Healthcare: Clinical Trials

--------------------------------
Context: A study testing a new drug’s effectiveness might exclude patients with incomplete medical histories (e.g., missing blood pressure readings or unreported pre-existing conditions).

Problem: If data is missing for high-risk patients, the trial results could falsely suggest the drug is safer or more effective than it truly is.

Impact: Regulatory approval based on flawed data might endanger patients in real-world use.

2. Finance: Credit Scoring
-----
Context: Banks use credit history, income, and employment data to assess loan eligibility.

Problem: Missing income or employment records (e.g., self-employed applicants not reporting earnings) can skew risk models.

Impact: Lenders might approve high-risk borrowers or reject creditworthy ones, leading to financial losses or unfair denials.

In [ ]:










# This task has reinforced my belief that this bootcamp is precisely what I need to advance my skills, and I am confident that being a part of it will enable me to achieve even greater success in my career.